<footer class="footer" id="creditos">
    <div class="footer__autor">
        &copy; PEC 1 ablancogonza
    </div>
    <div class="footer__recursos">
        A continuación se enumeran los orígenes de los contenidos utilizados en la página:
    </div>
    <div class="footer__container">
        <div class="recurso">
            <div class="recurso__objeto">Mapa Google</div>
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__url">
                <a href="https://www.google.com/maps/place/Sydney+NSW,+Australia/@-33.8598622,151.211201,2995m/data=!3m1!1e3!4m6!3m5!1s0x6b129838f39a743f:0x3017d681632a850!8m2!3d-33.8688197!4d151.2092955!16zL20vMDZ5NTc?entry=ttu">https://www.google.com/maps/place/Sydney+NSW,+Australia/@-33.8598622,151.211201,2995m/data=!3m1!1e3!4m6!3m5!1s0x6b129838f39a743f:0x3017d681632a850!8m2!3d-33.8688197!4d151.2092955!16zL20vMDZ5NTc?entry=ttu</a></div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo">Texto</div>
            <div class="recurso__objeto">Mapa Google</div>
            <div class="recurso__url">
                <a href="https://es.wikipedia.org/wiki/S%C3%ADdney">Visitar</a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__objeto">Sydney Opera House</div>
            <div class="recurso__url">
                <a href="https://cdn2.picryl.com/photo/2011/07/23/sydney-opera-house-ad3359-1024.jpg">Visitar</a>
                </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo">Texto</div>
            <div class="recurso__objeto">Sydney Opera House</div>
            <div class="recurso__url">
                <a href="https://es.wikipedia.org/wiki/%C3%93pera_de_S%C3%ADdney">Visitar</a>
                </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo"></div>
            <div class="recurso__objeto"></div>
            <div class="recurso__url">
                <a href="">Visitar</a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo"></div>
            <div class="recurso__objeto"></div>
            <div class="recurso__url">
                <a href="">Visitar</a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo"></div>
            <div class="recurso__objeto"></div>
            <div class="recurso__url">
                <a href="">Visitar</a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo"></div>
            <div class="recurso__objeto"></div>
            <div class="recurso__url">
                <a href="">Visitar</a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__tipo"></div>
            <div class="recurso__objeto"></div>
            <div class="recurso__url">
                <a href="">Visitar</a>
            </div>
        </div>

        
    </div>
</footer>