<footer class="footer" id="copyright">
    <div class="footer__autor">
        &copy; PEC 1 ablancogonza
    </div>
    <div class="footer__recursos">
        A continuación se enumeran los orígenes de los contenidos utilizados en la página:
    </div>
    <div class="footer__container">
        <div class="recurso">
            <div class="recurso__objeto">Mapa Google</div>
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__url">
                <a href="https://www.google.com/maps/place/Sydney+NSW,+Australia/@-33.8598622,151.211201,2995m/data=!3m1!1e3!4m6!3m5!1s0x6b129838f39a743f:0x3017d681632a850!8m2!3d-33.8688197!4d151.2092955!16zL20vMDZ5NTc?entry=ttu">https://www.google.com/maps/place/Sydney+NSW,+Australia/@-33.8598622,151.211201,2995m/data=!3m1!1e3!4m6!3m5!1s0x6b129838f39a743f:0x3017d681632a850!8m2!3d-33.8688197!4d151.2092955!16zL20vMDZ5NTc?entry=ttu</a></div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Mapa Google</div>
            <div class="recurso__tipo">Texto</div>
            
            <div class="recurso__url">
                <a href="https://es.wikipedia.org/wiki/S%C3%ADdney">https://es.wikipedia.org/wiki/S%C3%ADdney</a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Sydney Opera House</div>
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__url">
                <a href="https://cdn2.picryl.com/photo/2011/07/23/sydney-opera-house-ad3359-1024.jpg">
                    https://cdn2.picryl.com/photo/2011/07/23/sydney-opera-house-ad3359-1024.jpg
                </a>
                </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Sydney Opera House</div>
            <div class="recurso__tipo">Texto</div>
            
            <div class="recurso__url">
                <a href="https://es.wikipedia.org/wiki/%C3%93pera_de_S%C3%ADdney">
                    https://es.wikipedia.org/wiki/%C3%93pera_de_S%C3%ADdney
                </a>
                </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Sydney Harbour Bridge</div>
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__url">
                <a href="https://live.staticflickr.com/7491/15192147744_ad454554ff_h.jpg">
                    https://live.staticflickr.com/7491/15192147744_ad454554ff_h.jpg
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Sydney Harbour Bridge</div>
            <div class="recurso__tipo">Texto</div>
            <div class="recurso__url">
                <a href="https://www.inventionandtech.com/content/sydney-harbour-bridge">
                    https://www.inventionandtech.com/content/sydney-harbour-bridge
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Bondi Beach</div>
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__url">
                <a href="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcScHSmVkxJpx3K58uC4oijJCK8gsB_2X3Y3hrX28zl1lG8CGPjPHvTsDe13laTn2n6Ugbzc5GTuD8lSnCgPvk16BnZjd4_6Z-6HLTYmxqk">
                    https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcScHSmVkxJpx3K58uC4oijJCK8gsB_2X3Y3hrX28zl1lG8CGPjPHvTsDe13laTn2n6Ugbzc5GTuD8lSnCgPvk16BnZjd4_6Z-6HLTYmxqk
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Bondi Beach</div>
            <div class="recurso__tipo">Texto</div>
            <div class="recurso__url">
                <a href="https://www.pinterest.es/pin/bondi-beach-a-paradise-in-sydney--293508100730882884/">
                    https://www.pinterest.es/pin/bondi-beach-a-paradise-in-sydney--293508100730882884/
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Blackbird Cafe</div>
            <div class="recurso__tipo">Imagen y texto</div>
            <div class="recurso__url">
                <a href="https://www.darlingharbour.com/editorials/the-7-best-bottomless-brunches-in-darling-harbour">
                    https://www.darlingharbour.com/editorials/the-7-best-bottomless-brunches-in-darling-harbour
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Mecca Bah</div>
            <div class="recurso__tipo">Imagen y texto</div>
            <div class="recurso__url">
                <a href="https://www.darlingharbour.com/editorials/the-7-best-bottomless-brunches-in-darling-harbour">
                    https://www.darlingharbour.com/editorials/the-7-best-bottomless-brunches-in-darling-harbour
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Darling Pavilion</div>
            <div class="recurso__tipo">Imagen y texto</div>
            <div class="recurso__url">
                <a href="https://www.darlingharbour.com/editorials/the-7-best-bottomless-brunches-in-darling-harbour">
                    https://www.darlingharbour.com/editorials/the-7-best-bottomless-brunches-in-darling-harbour
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Luna Park</div>
            <div class="recurso__tipo"></div>
            <div class="recurso__url">
                <a href="https://www.timeout.com/sydney/attractions/our-guide-to-luna-park">
                    https://www.timeout.com/sydney/attractions/our-guide-to-luna-park
                </a>
            </div>
        </div>

        <div class="recurso">
            <div class="recurso__objeto">Zoo Taronga</div>
            <div class="recurso__tipo">Imagen</div>
            <div class="recurso__url">
                <a href="https://t0.gstatic.com/images?q=tbn:ANd9GcRKvY514e3b0slYm6hH1PBPgkuOYg8ZIQ3POIPW6-vStAN_i2pI">
                    https://t0.gstatic.com/images?q=tbn:ANd9GcRKvY514e3b0slYm6hH1PBPgkuOYg8ZIQ3POIPW6-vStAN_i2pI
                </a>
            </div>
        </div>

        
    </div>
</footer>