<header class="header">
    <div class="header__titulo">Sydney</div>
    <div class="header__navbar">
        <nav class="navbar">
            <ul class="navbar__list">
                <li><a href="#presentacion">Presentación</a></li>
                <li><a href="#lugares">Lugares que visitar</a></li>
                <li><a href="#comer">¿Dónde comer?</a></li>
                <li><a href="#actividades">Actividades</a></li>
                <li><a href="#creditos">Créditos</a></li>
                <a href="javascript:void(0);" class="navbar__icon" onclick="swapMenu()">
                    <i class="fa fa-bars"></i>
                </a>
            </ul>
        </nav>
        </nav>
</header>